.tile-list {
    > .tile {
        display: flex;

        > .tile-body {
            flex: 1;
        }

        &:not(:first-child) {
            margin-block-start: 0.25rem;
        }
    }
}

.tile {
    background-color: hsl(0deg 2% 10% / 0.1);
    border: 2px solid hsl(0deg 2% 10% / 0.6);
    border-radius: 0.5rem;
}
.tile-body {
    padding: 0.5rem;
}